@use '../../utils/mixins' as *;

.main-section {
  display: flex;
  flex-direction: column;
  gap: 56px;
  padding: 64px 16px 72px;
  @include tablet {
    padding: 228px 44px 152px;
  }
}

.main {
  &__description {
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 386px;

    @include tablet {
      max-width: none;
    }

    &-title {
      color: rgba(249, 81, 46, 1);
    }
  }

  &__cards {
    display: flex;
    flex-direction: column;
    gap: 56px;
    align-items: center;

    @include tablet {
      justify-content: center;
      flex-flow: row wrap;
      gap: 24px;
      row-gap: 80px;
    }
  }

  &__card {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;

    width: 288px;

    @include tablet {
      width: 328px;
    }

    &-description {
      display: flex;
      flex-direction: column;
      gap: 6px;
    }

    &-title {
      color: rgba(127, 128, 150, 1);
    }

    &-text {
      width: 280px;
      letter-spacing: -0.5px;
    }

    &-button {
      display: flex;
      gap: 8px;
      align-self: flex-start;
      text-decoration: none;
      color: rgba(249, 81, 46, 1);
    }
  }
}
