@use '../../utils/mixins' as *;

.footer__menu {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-content: flex-start;

  @include tablet {
    width: 328px;
    grid-column: 1 / 4;
  }

  &-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    list-style: none;
  }
  &-title {
    color: rgba(127, 128, 150, 1);
  }
  &-link {
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
  }
}
