@use '../../utils/mixins' as *;

.footer {
  display: flex;
  flex-direction: column;
  gap: 40px;
  background-color: #1c1a26;
  padding: 56px 16px;

  @include tablet {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(8, 64px);
    gap: 40px 24px;
    padding: 88px 44px;
  }

  @include desktop1024 {
    margin: 0 auto;
    grid-template-columns: repeat(8, 1fr);
    gap: 40px 24px;
    padding: 88px 44px;
  }

  @include desktop1024 {
    margin: 0 auto;
    grid-template-columns: repeat(8, 1fr);
    gap: 40px 24px;
    padding: 88px 124px;
  }
}
