.fs-16-normal {
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: 150%;
}

.h3-48-400 {
  font-family: Inter, sans-serif;
  font-size: 48px;
  font-weight: 400;
  font-style: normal;
  line-height: 85%;
  text-transform: uppercase;
}

.h4-16-500 {
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 100%;
  text-transform: uppercase;
  letter-spacing: 2%;
}

.h4-16-400 {
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}
